@model IEnumerable<WebBankinh.Models.EF.LoaiSanPham>
@{
    ViewBag.Title = "Loại Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/LoaiSanPham" class="nav-link">Loại Sản Phẩm</a>
        </li>
    </ul>

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Loại Sản Phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Loại Sản Phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách Loại Sản Phẩm</h3>

            <div class="card-tools">
                <a href="/admin/loaisanpham/addlsp" class="btn btn-primary">Thêm Mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Viết Tắt</th>
                        <th>Loại Sản Phẩm</th>
                        <th>Ghi Chú</th>
                    </tr>
                </thead>
                <body>
                   @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                        <tr id="trow_@item.Id">
                            <td>@i</td>
                            <td>@item.TenVietTat</td>
                            <td>@item.TenLoai</td>
                            <td>@item.GhiChu</td>
                            <td>
                                <a href="/admin/LoaiSanPham/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xoá</a>
                            </td>
                            <td></td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Không có bản ghi nào</td>
                    </tr>
                }
                    </body>
                </table>

                <!-- /.card-body -->
                <div class="card-footer">

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

    </section>
    <!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xoá không ?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/LoaiSanPham/Delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
        });
    </script>
    
    }
